In [1]:
import pandas as pd

# Times and speedup

In [3]:
df = pd.read_csv("../out/data.csv", delimiter=";")
df

   file_name    time  procs_per_node  nodes
0      1_2_2  192.55               1      2
1      1_4_4   98.57               1      4
2      1_8_8   51.94               1      8
3      2_2_4   98.61               2      2
4      2_4_8   51.95               2      4
5     2_8_16   28.66               2      8
6     3_4_12   36.29               3      4
7     3_8_24   20.78               3      8
8    4_16_64   17.23               4     16
9   4_32_128   27.75               4     32
10    4_8_32   16.78               4      8

In [4]:
base_time = 362

In [6]:
df["speedup"] = base_time / df["time"]
df

   file_name    time  procs_per_node  nodes    speedup
0      1_2_2  192.55               1      2   1.880031
1      1_4_4   98.57               1      4   3.672517
2      1_8_8   51.94               1      8   6.969580
3      2_2_4   98.61               2      2   3.671027
4      2_4_8   51.95               2      4   6.968239
5     2_8_16   28.66               2      8  12.630844
6     3_4_12   36.29               3      4   9.975200
7     3_8_24   20.78               3      8  17.420597
8    4_16_64   17.23               4     16  21.009867
9   4_32_128   27.75               4     32  13.045045
10    4_8_32   16.78               4      8  21.573302

In [8]:
print("Max speedup = " + str(max(df["speedup"])))
print("Min time = " + str(min(df["time"]))+" seconds")

Max speedup = 21.573301549463647
Min time = 16.78 seconds

In [10]:
print("Min speedup = " + str(min(df["speedup"])))
print("Max time = " + str(max(df["time"]))+" seconds")

Min speedup = 1.8800311607374707
Max time = 192.55 seconds

In [11]:
df.to_csv("../out/processed_data.csv")