In [1]:
import pandas as pd

# Times and speedup

In [3]:
df = pd.read_csv("../out/dos6/data.csv", delimiter=";")
df

  file_name   time  procs_per_node  nodes
0   1_64_64  15.31               1     64
1   2_32_64  15.33               2     32
2  2_64_128  10.72               2     64
3   4_16_64  15.32               4     16
4  4_32_128  10.67               4     32
5  4_64_256   9.17               4     64

In [4]:
base_time = 664

In [5]:
df["speedup"] = base_time / df["time"]
df

  file_name   time  procs_per_node  nodes    speedup
0   1_64_64  15.31               1     64  43.370346
1   2_32_64  15.33               2     32  43.313764
2  2_64_128  10.72               2     64  61.940299
3   4_16_64  15.32               4     16  43.342037
4  4_32_128  10.67               4     32  62.230553
5  4_64_256   9.17               4     64  72.410033

In [6]:
print("Max speedup = " + str(max(df["speedup"])))
print("Min time = " + str(min(df["time"]))+" seconds")

Max speedup = 72.41003271537623
Min time = 9.17 seconds

In [7]:
print("Min speedup = " + str(min(df["speedup"])))
print("Max time = " + str(max(df["time"]))+" seconds")

Min speedup = 43.31376386170907
Max time = 15.33 seconds

In [8]:
df.to_csv("../out/dos6/processed_data.csv")